<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body style="background-color: antiquewhite;">
   
  <center>
 
    <h1>Intituto Tecnologico Superior de la Sierra Norte de puebla</h1> <br>
    <p>Carrera: Ingenería en informatica</p> <br>
    <p>Alumno: Luis Isidro Romero Lira </p> <br>
    <p>Materia: Desarrollo Web Avanzado</p> <br>
    <p>Profesor: Mtro. Adolfo Luna Sanchéz</p> <br>
    <p>Semestre: 12°vo </p> <br>
    <p>Fecha: 13-Mayo-2022</p> <br>
    
     </center>
   
</body>

</html>